# views/works_orders/ecard.html.erb
<div class="container mx-auto px-4 py-6 max-w-4xl">
  <!-- Header Section -->
  <%= render 'ecard_header', works_order: @works_order %>

  <!-- Operations Section -->
  <div class="space-y-4">
    <% @works_order.part.locked_operations.each_with_index do |operation, index| %>
      <%= render 'ecard_operation',
          works_order: @works_order,
          operation: operation,
          index: index %>
    <% end %>
  </div>

  <!-- Footer Section -->
  <%= render 'ecard_footer', works_order: @works_order %>
</div>
